@charset "UTF-8";

article{
	
	width: 100%;
	
}
/* aside{ */
	
/* 	width: 22%; */
/* } */
/*.top-img{
	background-image: url("pexels-julia-khalimova-3922579.jpg");
	background-color: transparent;
	width: auto;
	height: 800px;
	opacity: .5;
	
}*/
