<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
					    http://www.springframework.org/schema/beans/spring-beans.xsd 
					    http://www.springframework.org/schema/aop
					    http://www.springframework.org/schema/aop/spring-aop.xsd
					    http://www.springframework.org/schema/mvc
					    http://www.springframework.org/schema/mvc/spring-mvc.xsd
					    http://www.springframework.org/schema/context
					    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- xmlns為預設namespace -->
	<mvc:annotation-driven />

	<!-- 不攔截css -->
	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>

	<!-- <mvc:interceptors> 
	<mvc:interceptor> 
	<mvc:mapping path="/**"/> 
	<mvc:exclude-mapping 
		path="/login"/> 
		<bean class=com.gl.spring.controller.AccessControlInterceptor/> 
		</mve:interceptor> </mvc:interceptors> -->

	<!--掃描Controller,並將其生命週期納入Spring管理 -->
	<context:component-scan base-package="com.gl.spring" />

	<!-- InternalResourceViewResolver** -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- <property name="viewClass" value="com.gl.spring.view.JstlView"/> -->
		<!-- prefix ： 是指訪問頁面的前路徑 -->
		<property name="prefix" value="/WEB-INF/views/" />
		<!-- suffix ： 是指訪問頁面的後檔名,常見的有:html,JSP,php.txt.mp3 -->
		<property name="suffix" value=".jsp" />
	</bean>






	<!-- JDBC -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="dataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/dl" />
		<property name="username" value="root" />
		<property name="password" value="ji3cl3gj94" />
	</bean>

	<!-- 讀取properties檔 -->
	<context:property-placeholder
		location="classpath:dataSource.properties" order="1"
		ignore-unresolvable="true" file-encoding="UTF-8" />

	<!-- c3p0 -->
	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> 
		<property name="driverClassName" value="${jdbc.driver}" /> <property name="jdbcUrl" 
		value="${jdbc.url}" /> <property name="user" value="${jdbc.user}" /> <property 
		name="password" value="${jdbc.password}" /> <property name="initialPoolSize" 
		value="${jdbc.initialPoolSize}" /> <property name="minPoolSize" value="${jdbc.minPoolSize}" 
		/> <property name="acquireIncrement" value="${jdbc.acquireIncrement}" /> 
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}" /> <property name="maxIdleTime" 
		value="${jdbc.maxIdleTime}" /> </bean> -->
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Spring-Servlet.xml,命名 -->

</beans>